.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.image {
  flex: 1;
  display: flex;
  width: 100px;
  height: 400px;
  justify-content: flex-start;
}

.text {
  flex: 1; /* Text ka section */
  text-align: left; /* Ensure left alignment */
  font-size: 24px;
  font-weight: bold;
}

.animation-style {
  width: 80%; /* Adjust as needed */
  max-width: 400px; /* Maximum width of animation */
}
