.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 200vw;
  height: 100vh;
}

.image {
  flex: 1;
  display: flex;
  width: 800px;
  height: 400px;
  justify-content: flex-end;
  max-width: 50%;
}

.text {
  flex: 1; /* Text ka section */
  text-align: left; /* Ensure left alignment */
  font-size: 24px;
  font-weight: bold;
}

.animation-style {
  width: 800px; /* Adjust as needed */
  height: 800px; /* Maximum width of animation */
  flex: 1;
}
