* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden; /* DONO scroll bar hatane ke liye */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: 20px; /* Image aur text ke beech gap */
}

.image {
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-style {
  max-width: 100%;
  height: auto;
}

.text {
  font-size: 28px;
  font-weight: bold;
}
